<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by {{name}}.
            <br>            
            It uses data from <a href='https://www.mapbox.com/'>mapbox</a> and <a href="https://weatherstack.com/">weatherstack</a> to return weather data for a given location.
        </p>
        <img class='portrait' src="/img/viking.jpg">
    </div>
    {{>footer}}
</body>

</html>